<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/reboot.css'>
    <link rel='stylesheet' href='/stylesheets/lit.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/create.css'>
  </head>
  <body>
    <div id="app" class="c">

      <div class="row card">
        <div class="col">
          <h1>作成</h1>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <span>マス目</span>
          <select v-model="selected" @change="changeSize(selected)">
            <option v-for="option in options" :value="option.value">{{ option.text }}</option>
          </select>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <table>
            <tr v-for="(row,rowindex) in savedata">
              <td v-for="(cell,colindex) in row" :id="(rowindex+'_'+colindex)" @click="clickCell(rowindex,colindex)"></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <form action="/create/save" method="post">
            <input type="hidden" id="size" name="size" v-model="selected"></input>
            <input type="hidden" id="savedata" name="savedata">
            <input type="submit" class="btn" value="保存する">
          </form>
        </div>
      </div>

      <div class="row card">
        <div class="col">
          <p><a href="/" class="btn">HOME</a></p>
        </div>
      </div>

    </div>
  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/create.js"></script>
</html>
