<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="app">

      <h1>作成</h1>

      <span>マス目</span>
      <select v-model="selected" @change="changeSize(selected)">
        <option v-for="option in options" :value="option.value">{{ option.text }}</option>
      </select>

      <table class="square_table">
        <tr v-for="(row,rowindex) in savedata">
          <td v-for="(cell,colindex) in row" :id="(rowindex+'_'+colindex)" @click="clickCell(rowindex,colindex)" class="square_td"></td>
        </tr>
      </table>

      <form action="/create/save" method="post">
        <input type="hidden" id="size" name="size" v-model="selected"></input>
        <input type="hidden" id="savedata" name="savedata">
        <input type="submit" value="保存" class="btn">
      </form>

      <p><a href="/">HOME</a></p>

    </div>
  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/create.js"></script>
</html>
