<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app">
      <h1><%= title %>[<%= id %>]</h1>
      <h2>まだ動かない</h2>
      <p><a href="/">HOME</a></p>
    </div>
  </body>
</html>
