<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><a href="/">index</a></li>
      <li><a href="/play/001">play(001)</a></li>
      <li><a href="/play/002">play(002)</a></li>
      <li><a href="/manager">manager</a></li>
      <li><a href="/create">create</a></li>
      <li><a href="/edit">edit</a></li>
    </ul>
  </body>
</html>
