<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/play.css'>
  </head>
  <body>
    <div id="app">
      <input type="hidden" id="loaddata" value="<%= loaddata %>">
      <input type="hidden" id="size" value="<%= size %>">
      <table border="1" align="center">
        <tr>
          <td></td>
          <td v-for="n in loaddata.length">
            <p v-for="num in headNum(n-1)">({{ num }})</p>
          </td>
        </tr>
        <tr v-for="(row, rowindex) in loaddata">
          <td>
            <span v-for="num in sideNum(rowindex)">({{ num }})</span>
          </td>
          <td v-for="(cell, colindex) in row" :id="rowindex+'_'+colindex" @click="clickCell(rowindex,colindex)"></td>
        </tr>
      </table>
      <button v-on:click="modeChange(0)" class="btn" :class="{btn_clicked: isShaveMode}">&#9632;</button>
      <button v-on:click="modeChange(1)" class="btn" :class="{btn_clicked: isCheckMode}">&#x2613;</button>
      <hr>
      <p><a href="/">HOME</a></p>
    </div>
  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/play.js"></script>
</html>
