<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>ピクロス</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="app">
      <input type="hidden" id="loadtitle" value="<%= loadtitle %>">
      <input type="hidden" id="loaddata" value="<%= loaddata %>">
      <input type="hidden" id="size" value="<%= size %>">

      <h1>ステージ[<%= id %>]</h1>

      <hr>

      <table class="square_table">
        <tr>
          <td class="square_td"></td>
          <td v-for="n in loaddata.length" class="square_td square_head_col" :id="'col_'+(n-1)">
            <p v-for="num in headNum(n-1)">{{ num }}</p>
          </td>
        </tr>
        <tr v-for="(row, rowindex) in loaddata">
          <td class="square_td" :id="'row_'+rowindex">
            <span v-for="num in sideNum(rowindex)">({{ num }})</span>
          </td>
          <td v-for="(cell, colindex) in row" :id="rowindex+'_'+colindex" @click="clickCell(rowindex,colindex)" class="square_td"></td>
        </tr>
      </table>

      <hr>
      
      <p style="color:red;">{{ msg }}</p>
      <p style="color:red;">{{ stagetitle }}</p>
      <p id="time"></p>

      <hr>

      <p>mode</p>
      <button @click="modeChange(0)" class="btn" :class="{ btn_active: isShaveMode }">&#9632;</button>
      <button @click="modeChange(1)" class="btn" :class="{ btn_active: isCheckMode }">&#x2613;</button>

      <hr>

      <div class="key">
        <div class="cross">
          <button @click="keyCross('top', arguments[0])"    class="cross_top cross_btn">&#x25B2;</button>
          <button @click="keyCross('bottom', arguments[0])" class="cross_bottom cross_btn">&#x25BC;</button>
          <button @click="keyCross('left', arguments[0])"   class="cross_left cross_btn">&#x25C0;</button>
          <button @click="keyCross('right', arguments[0])"  class="cross_right cross_btn">&#x25B6;</button>
        </div>
        <button @click="keySelect" class="key_btn"></button>
      </div>

      <hr>

      <p><a href="/">HOME</a></p>

    </div>
  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/play.js"></script>
</html>
