body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

#app {
  width: 90%;
  margin: auto;
  text-align: center;
}

.index_table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
.index_td {
  border: solid 1px;
}

.square_table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto 20px auto;
}

.square_td {
  border: solid 1px;
  width: 10px;
  height: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
}


.btn {
  display: inline-block;
  border: 1px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  transition: .4s;
}
.btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
.btn_active {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.key {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.cross {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  margin-left: 25px;
  margin-right: 25px;
}
.cross .cross_top {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
.cross .cross_bottom {
	grid-row: 3 / 4;
	grid-column: 2/3;
}
.cross .cross_left {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.cross .cross_right {
	grid-row: 2 / 3;
	grid-column: 3/4;
}

.cross_btn {
  display: inline-block;
  border: 1px solid #9ec34b;
  font-size: 24px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  transition: .4s;
}
.cross_btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.key_btn {
  width: 50px;
  height: 50px;
  margin: auto 25px auto 25px;
  display: inline-block;
  border: 1px solid #9ec34b;
  font-size: 24px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  transition: .4s;
}
.key_btn:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
